[submodule ".vim/bundle/vim-commentary"]
	path = .vim/bundle/vim-commentary
	url = http://github.com/tpope/vim-commentary.git
[submodule ".vim/bundle/vim-repeat"]
	path = .vim/bundle/vim-repeat
	url = http://github.com/tpope/vim-repeat.git
[submodule ".vim/bundle/vim-supertab"]
	path = .vim/bundle/vim-supertab
	url = http://github.com/ervandew/supertab.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = http://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = http://github.com/kien/ctrlp.vim.git
